.menu {
  position: relative;
  &__list {
    @include noList;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  &__item {
    display: block;
    padding: 15px;
    &--active {
      .menu__link {
        color: $accentColor;
      }
    }
  }
  &__link {
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 12px;
    transition: color 200ms linear;
    &:hover, &:active{
      color: $accentColor;
    }
    &:active{
      opacity: 0.5;
    }
  }


  @media ($tablet-widths) {
    &__item {
      background: transparent;
      box-shadow: none;
      margin-right: 20px;
    }
    &__link {
      &:active {
        box-shadow: none;
      }
    }
  }
}