$font: 'Fira Sans', Arial, sans-serif;
$accentColor: #4da5f5;
$textColor: #414141;
$mobile-widths-only: "max-width: 767px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1000px";
$large-widths: "min-width: 1200px";